<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:macro name="ros2_control_interfaces">

  <ros2_control name="diff_drive_robotHardwareInterface" type="system">
    <hardware>
      <plugin>diff_drive_robot/diff_drive_robot_Interface</plugin>
      <param name="port">/dev/ttyUSB0</param>
    </hardware>

    <joint name="right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

</xacro:macro>
</robot>
